<!DOCTYPE html>
<html>
    <head>
        <title>First AngularJs Application</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="projectController.js"></script>
    </head>
    <body>
        <div ng-app="firstAngular" ng-controller="CRUDController">
            <table>
                <tr>
                    <td>
                        ID
                    </td>
                    <td>
                        {{ID}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Title
                    </td>
                    <td>
                        <input type="text" ng-model="Title">
                    </td>
                </tr>
                <tr>
                    <td>
                        Author
                    </td>
                    <td>
                        <input type="text" ng-model="Author">
                    </td>
                </tr>
                <tr>
                    <td>
                        Published
                    </td>
                    <td>
                        <input type="date" ng-model="Published">
                    </td>
                </tr>
                <tr>
                    <td><input type="button" ng-click="AddData()"
                    value="Save Data"></td>
                    <td><input type="button" ng-click="UpdateData()"
                    value="Update Data"></td>
                </tr>
            </table>
            <table border="1" style="width: 300px;">
                <thead>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Date Published</th>
                </thead>
                <tr ng-click="BindSelectedData(Book)" ng-repeat="Book in BookList">
                    <td>{{Book.Id}}</td>
                    <td>{{Book.Title}}</td>
                    <td>{{Book.Author}}</td>
                    <td>{{Book.Published}}</td>
                    <td><input type="button" ng-click="DeleteData(Book)"
                    value="Delete Data"></td>
                </tr>
            </table>
        </div>
    </body>
</html>
